.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/test/**
**/coverage/**
**/.eslintrc.*
**/.prettierrc.*
**/jest.config.*
**/webpack.config.*
**/package-lock.json
**/yarn.lock
**/.npmrc
**/.env*
**/README.md
**/CHANGELOG.md
**/LICENSE
